<form class="simple-form tweet-compose" data-tweets-ul="#feed">
  <label for="tweet-textarea">What are you thinking?</label>
  <textarea id="tweet-textarea"
    name="tweet[content]" placeholder="What are you thinking?"></textarea>
  <strong class="char-left"></strong>

  <ul class="tweet-actions">
    <li>
      <input type="submit" value="Post Tweet!">
    </li>
  </ul>
</form>